// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#items {
  
  td .input-group-btn {
    display: inline-block;
  }
}

.table-striped > tbody > tr > td.fit-to-content {
  width: 1px;
  white-space: nowrap;
}
